RewriteEngine On

Options -Indexes

<FilesMatch "^(config|config\.example|.*\.env|.*\.sql|.*\.bak|.*\.zip)$">
  Require all denied
</FilesMatch>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
